.EndpointTile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 2px;
  border-left-style: solid;
  background-color: #F8F9FA;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 15px;

  .url {
    color: #788896;
  }

  .time {
    color: #C3CFD9;
  }
}