.side-bar {
    height: 100vh;
    width: 20vw;
    background-color: #F8F9FA;
    display: flex;
    border-right-color: black;
    border-right-width: 10px;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}
.side-bar h1 {
    color: grey;
}

.logo {
 text-decoration: none;
 color: black;
}